@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Maven Pro', sans-serif;
}

@media only screen and (min-width: 1200px) {

    #topicArt,
    #titulo article{
        max-width: 35vw !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    #detailsArt {
        max-width: 50vw !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media only screen and (min-width: 767px) {

    #topicArt,
    #titulo article, #detailsArt {
        max-width: 60vw;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media only screen and (max-width: 500px) {
    #titulo h1, #topicArt h1, #detailsArt h1{
        font-size: calc(10vw) !important;
    }
    #titulo h3 {
        font-size: calc(5vw);
    }
    #topicArt, #detailsArt{
        font-size: calc(4vw);
    }

}

@media only screen and (max-width: 400px) {
    iframe, #form{
        max-width: 100%;
    }
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #152221;
    color: #ffffff;
}

main {
    font-size: calc(10px + 0.7vw);
}

#titulo{
    height: 100vh;
}

.bg-gradient-dark {
    background: #1e1583;
    background: linear-gradient(140deg, #1e1583 15%, #2e268d 25%, #5d1ea7 50%, #8b4c9a 75%, #7c2181 100%);
    background: -webkit-linear-gradient(140deg, #1e1583 15%, #2e268d 25%, #5d1ea7 50%, #8b4c9a 75%, #7c2181 100%);
    background: -moz-linear-gradient(140deg, #1e1583 15%, #2e268d 25%, #5d1ea7 50%, #8b4c9a 75%, #7c2181 100%);
}

.bg-gradient-light {
    background: #c070a5 !important;
    background: linear-gradient(141deg, #c070a5 15%, #b946b1 25%, #a658dc 50%, #7458d2 75%, #2e30d0 100%) !important;
    background: -webkit-linear-gradient(141deg, #c070a5 15%, #b946b1 25%, #a658dc 50%, #7458d2 75%, #2e30d0 100%) !important;
    background: -moz-linear-gradient(141deg, #c070a5 15%, #b946b1 25%, #a658dc 50%, #7458d2 75%, #2e30d0 100%) !important;
}

.bg-light-custom {
    background: #c9d7ed !important;
}

#titulo article h1 {
    font-weight: 700;
    font-size: calc(30px + 2vw);
    text-shadow: -8px -8px 13px rgba(70, 21, 21, 0.50);
}

#titulo article h3, #form h2, #form label{
    font-weight: 400;
    text-shadow: -8px -8px 13px rgba(70, 21, 21, 0.8);
}

#topico img,
iframe,
#topicArt,
#detailsArt,
#form {
    border-radius: 5%;
}
